<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="LifeayKnowledgeBase">
	<test name="LifeayKnowledgeBaseTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="connection" />
				<include name="companyAccess" />
				<include name="articleAccess" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.liferay.test.ArticleTest" />
		</classes>
	</test>
</suite>