<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="LifeayKnowledgeBase" parallel="none">
	<test name="LifeayKnowledgeBaseTest" enabled="true"
		preserve-order="true">
		<groups>
			<run>
				<!-- Disabled as they need a Liferay instance running -->
				<exclude name="connection" />
				<exclude name="siteAccess" />
				<exclude name="companyAccess" />
				<exclude name="articleAccess" />
				<exclude name="articleFolderAccess" />
				<exclude name="repository" />
				<exclude name="fileEntry" />
				<exclude name="deleteData" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.liferay.test.ArticleTest" />
			<class name="com.biit.liferay.test.FolderTest" />  
			<class name="com.biit.liferay.test.FileEntryTest" />
		</classes>
	</test>
</suite>